.orangeA {
	--orange-a2: #ff61050b;
	--orange-a3: hsla(34, 100%, 50.1%, 0.165);
	--orange-a5: hsla(31, 100%, 50%, 0.357);
	--orange-a6: #ff73016e;
	--orange-a9: hsla(24, 99.9%, 48.4%, 0.969);
	--orange-a11: #7b2100c5;
	--orange-a12: #431200e2;
}

* {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

/* :–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–: */
/*! -- Affichage des résultats Json --★゜・。。・゜゜・。。・゜☆゜・。。・゜゜・。。・゜★゜・。。・゜゜・。。・゜☆ */
/* -▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼- */

#jsonDisplayResult {
	border-radius: 30px;
	margin-left: 2px;
	max-width: 100%;
	max-height: 95%;
	display: flex;
	align-items: flex-start;
	overflow: scroll;
}

#jsonDisplayResult h1 {
	margin: auto;
	font-size: 2.5rem;
	border-bottom: 1px solid #7b2100c5;
}

#jsonDisplayResult h3 {
	display: inline-block;
}

/* 
#jsonDisplayResult li {
	border: 2px solid #fbff00;
	list-style-type: none; 
	display: inline-block;
}*/

/* :–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–: */
/*! -- Icones curseur map/ville --★゜・。。・゜゜・。。・゜☆゜・。。・゜゜・。。・゜★゜・。。・゜゜・。。・゜☆ */
/* -▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼- */

.bouton {
	border: 2px solid #04ff00;
	z-index: 4;
	font-size: 20px;
	color: hsla(24, 99.9%, 48.4%, 0.969);
	padding: 8px 16px;
	border: none;
	border-radius: 50%;
	/* position: absolute;
	top: 20px;
	right: 30px; */
	background-color: #ffffff00;
	font-weight: 700;
}

.bouton:hover {
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	border: 1px solid hsla(16, 99.8%, 24.2%, 0.773);
}

#Fitz-James {
	position: absolute;
	left: 48%;
	top: 100%;
	transform: translate(-50%, -50%);
}

#Lille {
	position: absolute;
	left: 48%;
	top: 50%;
}

/* :–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–: */
/*! -- MAP --★゜・。。・゜゜・。。・゜☆゜・。。・゜゜・。。・゜★゜・。。・゜゜・。。・゜☆ */
/* -▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼- */

.land {
	fill: #81c486;
	fill-opacity: 1;
	stroke: white;
	stroke-opacity: 1;
	stroke-width: 0.5;
}

/* :–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–: */
/*! -- MODAL --★゜・。。・゜゜・。。・゜☆゜・。。・゜゜・。。・゜★゜・。。・゜゜・。。・゜☆ */
/* -▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼- */

.modal {
	visibility: hidden;
	display: none;
	position: relative;
}

.modalHidden {
	visibility: visible;
	z-index: 6;
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0%;
	top: 0%;
	background-color: #ad948571;
	display: flex;
	align-items: center;
}

.cadreFormHidden {
	border-radius: 30px;
	width: 60vw;
	height: 70vh;
	background-color: rgb(255, 255, 255);
	position: relative;
	left: 20vw;
}

.cadreForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid #431200e2;
	background-color: #fcf5f2;
}

#echap {
	padding: 8px 16px;
	border-radius: 50%;
	position: absolute;
	top: 30px;
	right: 30px;
	background-color: #f13838da;
	font-weight: 700;
	z-index: 10;
	cursor: pointer;
}

#echap:hover {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(6, 0, 0, 0.8);
}
