* {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

/* :–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–: */
/*! -- Affichage des résultats Json --★゜・。。・
/* -▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼- */

.classDisplayData,
.classResultSearch {
	border-radius: 30px;
	margin-left: 5px;
	max-width: 100%;
	max-height: 95%;
	min-height: 70%;
	display: flex;
	align-items: flex-start;
	overflow: scroll;
	flex-direction: column;
}

#displayVilleData h1,
#displayResultSearch h1 {
	margin: 20px;
	font-size: 2.5rem;
	border-bottom: 1px solid #7b2100c5;
}

#displayVilleData h3,
#displayResultSearch h3 {
	margin: 30px 1px 5px 1px;
	font-size: 2rem;
	display: inline-block;
}

#displayVilleData h4,
#displayResultSearch h4 {
	font-size: 1.2rem;
	color: #431200e2;
	margin: 2px 10px;
	display: inline-block;
}

#displayVilleData li,
#displayResultSearch li {
	font-size: 0.8rem;
	display: inline-block;
}

/* :–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–: */
/*! -- Icones curseur map/ville --★゜・。。・゜゜
/* -▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼- */

#nomVilles {
	cursor: pointer;
	fill-opacity: 1;
	stroke: #ff73016e;
	stroke-opacity: 1;
	stroke-width: 0.3;
}

#nomVilles:hover {
	cursor: pointer;
	fill-opacity: 1;
	stroke: #431200e2;
	stroke-opacity: 1;
	stroke-width: 1;
}

/* :–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–: */
/*! -- MAP --★゜・。。・゜゜・。。・゜☆゜・。。・゜
/* -▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼- */

.land {
	fill: #81c486;
	fill-opacity: 1;
	stroke: white;
	stroke-opacity: 1;
	stroke-width: 0.5;
}

/* :–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–:*:–☆–: */
/*! -- MODAL --★゜・。。・゜゜・。。・゜☆゜・。。・
/* -▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼･ェ･▼- */

.modal,
.modalS {
	visibility: hidden;
	display: none;
	position: relative;
}

.modalHidden,
.modalHiddenS {
	visibility: visible;
	z-index: 6;
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0%;
	top: 0%;
	background-color: #ad948571;
	display: flex;
	align-items: center;
}

.cadreFormHidden,
.cadreFormHiddenS {
	border-radius: 30px;
	width: 60vw;
	height: 70vh;
	background-color: rgb(255, 255, 255);
	position: relative;
	left: 20vw;
}

.cadreForm,
.cadreFormS {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid #431200e2;
	background-color: #fcf5f2;
}

#echap,
#echapS {
	padding: 8px 16px;
	border-radius: 50%;
	position: absolute;
	top: 30px;
	right: 30px;
	background-color: #f13838da;
	font-weight: 700;
	z-index: 10;
	cursor: pointer;
}

#echap:hover,
#echapS:hover {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(6, 0, 0, 0.8);
}
